html {
  scroll-behavior: smooth;
}

body{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 14px;
}
h1 {
    font-size: 60px;
    font-weight: 700;
    line-height:1;
    margin-bottom:15px;   
}
h2 {
    font-size: 36px;
    color: #444;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    color: #777;
    letter-spacing: 0.03em;
}

h4 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.03em;
    
}

h5 {
    font-size: 18px;
    color: #444;
    font-weight: 400;
    padding-bottom: 10px;
}
h6 {
    font-size: 14px;
    font-weight: 400;
    color:#777;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
}

p {
    font-size: 14px;
    color: #777;
}
a{
    transition: 0.5s ease;
    &:hover{
        text-decoration: none;
        transition: 0.5s ease;
    }
    &:focus {
     outline: none;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
    line-height: 28px;
}
.heading-title{
    padding-bottom: 100px;
   h4{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    color: rgb( 23, 132, 255 );
    font-weight: 800;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 25px;
    }
    span{
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        color: #000;
        text-align: center;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            height: 2px;
            width: 50px;
            background-color: #1784ff;
            bottom: -20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            box-shadow: 0px 0px 20px 0px rgba(23, 132, 255, 0.6);
          }
    }
    &.text-white{
        h4{
            color: #fff;
        }
        span{
            color: #fff;
             &:after{
                background-color: #fff;
             }
        }
       
    }
}

section{
    // margin-top:80px;
    padding-top:80px;  
    padding-bottom: 80px;
}
// .pt-space{
    
//     }
.bg-gray{
    background: #f5f5f5;
}
button{
    &:focus{
        outline: none;
        border-color: transparent;
        box-shadow: unset;
    }
}
.btn{
    transition: all 0.3s ease-out;
    &:hover{
        transform: translateY(-10px);
        transition:all 0.3s ease-in;
    }
}

.purchase-btn{
    font-size: 16px;
    color: #1d93ff;
    font-weight: bold;
    text-transform: uppercase;
    /* padding: 13px 20px; */
    background: #fff;
    width: 240px;
    height: 58px;
    border-radius: 10px;
    text-align: center;
    line-height: 42px;
    // box-shadow: 0px 4px 3px 3px #8ec6ff;
    i{
        border-right: 2px solid #b3b3b3;
        padding-right: 12px;
        margin-right: 6px;
    }
}
.btn-rate{
    font-size: 20px;
    color: #1d93ff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 50px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px
}
.btn-lazy{
    font-family: 'Poppins', sans-serif;
    border-radius: 21px;
    background-color: rgb( 255, 43, 103 );
    box-shadow: 0px 0px 70px 10px rgba(86, 86, 86, 0.54);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 19px;
    border-radius: 20px;
    text-align: center;
    color: #fff !important;
}

%d-flex-center,
.center-height {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.form-control{
    &:focus{
        border-color: #ddd;
    }
}


.layout-img{
    background-image: url(../images/landing/slider-bg1.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: 0px 5px 30px 10px #dedede;    
}
.mssanger-right{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/* navbar */

.landing-nav {    
    padding: 25px 0;
    border-bottom: 1px solid rgba(150, 211, 255, 0.38823529411764707);
    .navbar-nav{
        a{
            color: #f7f7f7 !important;
            margin: 0 15px;
        }
    }    
}
.slider-caption{
    width:50%;
    margin-top: 80px;
    img{
        margin-bottom:20px;
    }
    .theme-title{
        color: #fff;
        font-size:18px;
    }
    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #fff;
        line-height: 1.4;
        font-size: 45px;
        margin-top: 25px;
        margin-bottom: 40px;
    }
    p{
        color: #cfe4ff;
        font-size:18px;
    }
}
.space-card{
    > div {
        &:nth-last-child(-n + 14){
            margin-top: 70px;
        }
    }
}
.space-shop{
    > div {
        &:nth-last-child(-n + 3){
            margin-top: 70px;
        }
    }
}
.space-product{
    > div {
        &:nth-last-child(-n + 9){
            margin-top: 70px;
        }
    }
}
.layout-demo{
    .nav-pills{
        justify-content:center;
        margin-bottom: 60px;
        .nav-item{
            margin: 0 10px;
        }
        .nav-link {
            border-radius: 15px;
            color: #fff;
            background-color: #1784ff;
            padding:8px 25px;
            transition: all 0.3s ease-out;
            &.active{
                color: #fff;
                background-color: #ff2b67;
                box-shadow: 0px 6px 20px #ff2b6780;
                margin-top: -5px;
            &:hover{
                transform: translateY(0px);
            }
           }
            &:hover{
                transform: translateY(-5px);
                transition:all 0.3s ease-in;
            }
        }
    }
    .tab-content{
        .card{
            border: unset;
            overflow: hidden;
            box-shadow: 7.5px 12.99px 35px 0px #f7f7f7;
            border-radius: 20px;
            transition: all 0.3s ease-out;
            img{
                box-shadow: 0px 0px 5px 0px #e8e8e8;
            }
            .card-body{
                p{
                    font-size: 18.056px;
                    font-family: 'Poppins', sans-serif;
                    color: rgb( 74, 74, 74 );
                    font-weight: 500;
                }
              
            }
            &:hover{
                // transform: scale(1.02);
                // transition: all 0.3s ease-in;
                transform: translateY(-10px);
                box-shadow: 0 15px 40px 0px #eaeaea;
            }
        }
    }
}

/* Features css */
.bg-theme{
    background-image: url(../images/landing/features-bg.png);
    // background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &.shadow-theme{
        box-shadow: 0px 5px 30px 10px #f9f9f9;
    }
}
.fetures-img{
    > div {
        &:nth-last-child(-n + 7){
            margin-top: 55px;
        }
    }
    img{
        background: #fff;
        border-radius:20px;
        box-shadow:10px 17.321px 250px 0px rgba(0, 0, 0, 0.058823529411764705);
    }
    h6{
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-weight: 500;
        margin-top:30px;
        margin-bottom:0;
    }
}
.key-feature {
    > div{
        &:nth-last-child(-n + 17){
            margin-top:70px;
        }
    }
    .theme-collection{
        .image-contain {
            background-color: #fff;
            box-shadow: 0px 0px 26px 10px #efefef;
            padding: 50px;
            transition: all 0.5s ease;
            .set-image {
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.5s ease;
                margin: 0 auto;
                text-align: center;
            }
        }
        h5 {
            margin-top: 20px;
            text-align: center;
            color: #555;
            transition: all 0.3s ease;
            padding-bottom: 0;
            margin-bottom: 0;
            line-height: 1;
        }
        &:hover{
            h5{
                color: #ff4c3b;
                transition: all 0.3s ease;
            }
        }
    }
    
}
/* Features css end */
.box-email{
    background: #ffffff26;
    width: 40%;
    margin: 0 auto;
    padding: 26px;
    margin-bottom: 60px;
    
}
.email-box{
    color:#fff;
    font-size: 29px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom:0;
    padding: 0 35px;
}
.dark-bg-img{
    background-image: url(../images/landing/dark-bg.png);
}
.eml{
    position:absolute;
    &.eml-one{
        left: 160px;
    }
    &.eml-two{
        bottom: 0px;
        left: 0px;
    }
    &.eml-three{
        right:145px;
        top:0;
        height: 100%;
    }
}
.top-space-n{
    margin-top:-55px;
}
.landing-dot{
    .slick-prev , .slick-next {
        display:none !important;
    }
    // .slick-prev{
    //     position: absolute;
    //     right: 0;
    //     top: auto;
    //     left: -50px;
    //     bottom: -28px;
    //     background-color: unset;
    //     width: 28px;
    //     height: 28px;
    //     font: normal normal normal 30px/1 FontAwesome;
    //     -webkit-box-shadow: unset;
    //     box-shadow: unset;
    //     border: unset;
    //     font-size: 0;
    //     text-align: center;
    //     margin: 0 auto;
    //     &:before {
    //         color: #198cff;
    //         opacity: 0.6;
    //         content: "\f111";
    //         vertical-align: middle;
    //         line-height: 0px;
    //         font-size: 12px;
    //     }
    // }
    // .slick-next{
    //     position: absolute;
    //     right: 0px;
    //     left: 0;
    //     top: auto;
    //     margin: 0 auto;
    //     bottom: auto;
    //     border-radius: unset;
    //     background-color: transparent;
    //     width: 28px;
    //     height: 28px;
    //     border: unset;
    //     font-size: 0 !important;
    //     font: normal normal normal 30px/1 FontAwesome;
    //     &:before {
    //         color: #1784ff;
    //         content: "\f111";
    //         font-size: 14px;
    //     }
    //     &:after {
    //         color: #71b6fb;
    //         content: "\f111";
    //         font-size: 12px;
    //         position: absolute;
    //         margin-left: 13px;
    //     }
    // }
    
    .slick-dots {
        display: flex;
        justify-content: center;        
        margin: 0;
        padding: 1rem 0;        
        list-style-type: none;    
            li {
                margin: 0 0.25rem;
            }
            button {
                display: block;
                width: 8px;
                height: 8px;
                padding: 0;            
                border: none;
                border-radius: 100%;
                background-color: rgba(45, 165, 255, 0.4);
                text-indent: -9999px;
                transition: all 0.3s ease-in;
            }        
            li.slick-active button {
                background-color: #1784ff;
                transition: all 0.3s ease-in;
            }    
    }
    .slick-slide{
        img{
            width:100%;
        }
    }
    .slick-active {
        img{
            transform: scale(0.9);
        }        
        &:last-child(2){
            img{
                transform: scale(1);
            }
        }
    }
}
.footer-title{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 60px;
}