@media (min-width:1366px){
	.container{
		max-width: 1440px;
	}
}
@media (max-width:1366px){
	.layout-img{
		height: 100%;
	}
	.slider-caption{
		margin-top: 40px;
	}
	.eml {
		&.eml-one {
	    	left: 15px;
	    	width: 20%;
	    }
		&.eml-three{
			height: auto;
    		width: 20%;
    		right: 15px;
		}
	}
}
@media (max-width:1199px){
	.slider-caption {
	    width: 100%;
	}
	.layout-demo {
		.tab-content {
			.card {
				.card-body{
					p{
						font-size: 16px;
					}
				}
			}
		}
	}
	.fetures-img {
		h6{
			font-size: 18px;
		}
	}
	.key-feature {
	    > div{
	        &:nth-last-child(-n + 19){
	            margin-top:70px;
	        }
	    }
	}
	.slider-caption {
		h1{
			font-size: 42px;
		}
	}
	.heading-title {
		h4{
			font-size: 42px;
		}
	}
	.footer-title{
		font-size: 42px;
		margin-bottom: 20px;
	}
	.eml{
		&.eml-two{
			width: 30%;
		}
	}
}


@media (max-width:992px){
	.layout-img {
	    height: 100vh;
	}
}
@media (max-width:991px){
	.key-feature {
		.theme-collection{
			.image-contain{
    			padding: 30px;
			}
		}
	}
	.box-email{
		width: 70%;
	}
	.email-box{
		padding:0;
	}
	.footer-title{
		font-size: 32px
	}
}
@media (max-width:767px){
	
	.navbar-nav{
		background: white;
    	margin-top: 10px;
    	transition:all 0.3s ease-out;
	}
	.darkHeader{
		background:rgba(0, 0, 0, 0.8509803921568627);
		transition: all 0.3s ease-in;
		position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 9;
	}
	.landing-nav {
		
	    .navbar-nav{ 
	    	a{
				color: #1d93ff !important;
				&:hover{
					color: #000 !important;
				}
	    	}
		}
	}

	.slider-caption {
		.logo-main{
			    position: fixed;
			    top: 20px;
			    right: 60px;
			    width: 80px;
			    z-index: 99;
		}
	}
	.navbar-light {
		.navbar-toggler{
			border-color: rgba(255, 255, 255, 0.62);
		}
		.navbar-toggler-icon{
			filter: brightness(1) invert(1);
		}
	}
	.mssanger-right{
		top: auto;
		bottom: 0;
	}
	.heading-title{
		h4 {
			font-size: 38px;
		}
	}
	.footer-title{
		font-size: 38px;	
	}
	.layout-img {
	    height: 100%;
	}	
    .space-card{
	    > div {
	        &:nth-last-child(-n + 16){
	            margin-top: 50px;
	        }
	    }
	}
	.space-shop{
	    > div {
	        &:nth-last-child(-n + 5){
	            margin-top: 50px;
	        }
	    }
	}
	.space-product{
	    > div {
	        &:nth-last-child(-n + 11){
	            margin-top: 50px;
	        }
	    }
	}
	.fetures-img{
	    > div {
	        &:nth-last-child(-n + 9){
	            margin-top: 30px;
	        }
	    }
	    h6 {
		    font-size: 22px;
		}
    }
    .key-feature{
    	> div {
	        &:nth-last-child(-n + 21){
	            margin-top: 30px;
	        }
	    }
    }
    .lazy-space , .sm-space-pro-size {
    	> div {
	        &:nth-last-child(-n + 2){
	            margin-top: 30px;
	        }
	    }
    }
    .sm-space-pro-size{    	
	    img{
	    	width:100%;
	    }
	    .top-space-n{
	    	margin-top:0;
	    	
	    }
    }
    .sm-space-gallery{
    	> div {
	        &:nth-last-child(-n + 1){
	            margin-top: 30px;
	        }
	    }
    }
    .btn-lazy{
    	font-size: 16px;
    }
}

@media (max-width:575px){
	section{
		padding-top: 50px;
    	padding-bottom: 50px;
	}
	.landing-nav{
		padding: 15px;
	}
	.slider-caption {
		.logo-main{
			top: 15px;
			width: 60px;
		}
	}
	.footer-title {
	    font-size: 18px;
	}
	.sm-logo{
		width: 50%;
	}
	.btn-rate{
		padding: 10px 30px;
		font-size: 18px;
	}
}