@import 'theme/variables';

$theme-color: #444;
$theme-primary-color:#f86052;
$theme-orage: #ff4c3b;
$btn-theme: #ff4c3b;
$top-header-drop: #fff;
$dark-theme-header-icon: #444;
$top-header-textcolor: #fff;
$theme-header-color:#000;
$slider-text:#444;
$slider-text-two:#444;
$slider-title-color: #ff4c3b;
$footer-bg-color:#fff;
$footer-title-color: #444;
$theme-footer-text-color: #444;

$header-theme-text-color: $theme-color;
@import 'theme/menu';
@import 'theme/style';
@import 'theme/responsive';