@import 'theme/variables';

$theme-color: #444;
$theme-primary-color: #444;
$theme-orage: #ff5c00;
$dark-theme-header-icon: $theme-color;
$btn-theme: #5b5b5b;
$top-header-drop: #fff;
$top-header-textcolor: #fff;
$theme-header-color:#fff;
$slider-text:$theme-color;
$slider-text-two:#444;
$slider-title-color: #ff5c00;
$footer-bg-color:#fff;
$footer-title-color: $theme-color;
$theme-footer-text-color: $theme-color;

$header-bg-light-menu:#f9f9f9;
$header-theme-text-color: $theme-color;
@import 'theme/menu';
@import 'theme/style';
@import 'theme/responsive';