// Generate rules to round the corners of the last collapsible item

@mixin round_corner($amount, $chainable: 'ul > li:last-child > ', $level: 4, $chain_prefix: '> li:last-child > ', $chain: '', $selector: '') {
    $chain: $chain_prefix;
    $selector: $chain + 'a, ' + $chain + '*:not(ul) a, ' + $chain + 'ul';
    @for $i from 1 through $level {
        $chain: $chain + $chainable;
        $selector: $selector + ',
 ' + $chain + ' a, ' + $chain + '*:not(ul) a, ' + $chain + ' ul';

    }
    #{$selector} {
        border-radius: 0 0 $amount $amount;
    }
    $chain: $chain_prefix;
    $selector: $chain+'a.highlighted, '+$chain+'*:not(ul) a.highlighted';
    @for $i from 1 through $level {
        $chain: $chain + $chainable;
        $selector: $selector + ',
 ' + $chain + ' a.highlighted, ' + $chain + '*:not(ul) a.highlighted';

    }
    #{$selector} {
        border-radius: 0;
    }
}

@mixin sub_items($amount, $chainable: 'ul ', $level: 4, $chain: '') {
    @for $i from 1 through $level {
        $chain: $chain + $chainable;
        #{$chain} a,
        #{$chain} a:hover,
        #{$chain} a:focus,
        #{$chain} a:active {
            border-left: ($amount * ($i + 1)) solid transparent;
        }
    }
}

%extend_1 {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    direction: ltr;
    text-align: left;
}

.sm {
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    @extend %extend_1;
    ul {
        @extend %extend_1;
        display: none;
    }
    li {
        @extend %extend_1;
        position: relative;
    }
    >li {
        >h1 {
            margin: 0;
            padding: 0;
        }
        >h2 {
            margin: 0;
            padding: 0;
        }
        >h3 {
            margin: 0;
            padding: 0;
        }
        >h4 {
            margin: 0;
            padding: 0;
        }
        >h5 {
            margin: 0;
            padding: 0;
        }
        >h6 {
            margin: 0;
            padding: 0;
        }
    }
    a {
        position: relative;
        display: block;
        &.disabled {
            cursor: default;
        }
    }
    * {
        box-sizing: inherit;
    }
    *::before {
        box-sizing: inherit;
    }
    *::after {
        box-sizing: inherit;
    }
}

.sm::after {
    content: "";
    display: block;
    height: 0;
    font: 0/0 serif;
    clear: both;
    overflow: hidden;
}

// -----------------------------------------------------------------------------------------------------------------
// 1. Theme Quick Settings (Variables)
// -----------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------
// :: 1.1. Colors
// ----------------------------------------------------------
$theme-default: #ff4c3b !default;
$theme-default-dark: darken($theme-default, 5%) !default;
$theme-default-darker: #c33a32 !default;
$theme-default-light: lighten($theme-default, 30%) !default;
$theme-deafult__white: #fff !default;
$theme-deafult__gray: darken($theme-deafult__white, 34%) !default;
$dark: #333333;
$theme-deafult__text-shadow: rgba(0, 0, 0, 0.2) !default;
$theme-deafult__box-shadow: rgba(0, 0, 0, 0.2) !default;
// ----------------------------------------------------------
// :: 1.2. Breakpoints
// ----------------------------------------------------------
$theme-deafult__desktop-vp: 1200px !default; // switch from collapsible to desktop
// ----------------------------------------------------------
// :: 1.3. Typography
// ----------------------------------------------------------
$theme-deafult__font-size-base: 18px !default;
$theme-deafult__font-size-small: 14px !default;
$theme-deafult__line-height: 23px !default;
// ----------------------------------------------------------
// :: 1.4. Borders
// ----------------------------------------------------------
$theme-deafult__border-width: 1px !default;
$theme-deafult__border-radius-base: 8px !default;
$theme-deafult__border-radius-small: 4px !default;
// ----------------------------------------------------------
// :: 1.5. Collapsible main menu
// ----------------------------------------------------------
// Menu box
$theme-deafult__collapsible-bg: transparent !default;
$theme-deafult__collapsible-border-radius: $theme-deafult__border-radius-base !default;
$theme-deafult__collapsible-box-shadow: 0 1px 4px $theme-deafult__box-shadow !default;
// Items
$theme-deafult__collapsible-item-color: $theme-deafult__white !default;
$theme-deafult__collapsible-item-bg: $theme-default !default;
$theme-deafult__collapsible-item-current-color: $theme-deafult__white !default;
$theme-deafult__collapsible-item-current-bg: $theme-default-darker !default;
$theme-deafult__collapsible-item-disabled-color: lighten($theme-default, 30%) !default;
$theme-deafult__collapsible-item-padding-vertical: 10px !default;
$theme-deafult__collapsible-item-padding-horizontal: 20px !default;
// Toggle button (sub menu indicators)
$theme-deafult__collapsible-toggle-bg: rgba(0, 0, 0, 0.1) !default;
// ----------------------------------------------------------
// :: 1.6. Collapsible sub menus
// ----------------------------------------------------------
// Menu box
$theme-deafult__collapsible-sub-bg: $theme-deafult__white !default;
// Items
$theme-deafult__collapsible-sub-item-color: $theme-default-dark !default;
$theme-deafult__collapsible-sub-item-bg: transparent !default;
$theme-deafult__collapsible-sub-item-current-color: $theme-deafult__white !default;
$theme-deafult__collapsible-sub-item-current-bg: $theme-default-darker !default;
$theme-deafult__collapsible-sub-item-disabled-color: darken($theme-deafult__white, 30%) !default;
// Items separators
$theme-deafult__collapsible-sub-separators-color: rgba(0, 0, 0, 0.05) !default;
// Items text indentation for deeper levels
$theme-deafult__collapsible-sub-item-indentation: 8px !default;
// ----------------------------------------------------------
// :: 1.7. Desktop main menu
// ----------------------------------------------------------
// Items separators
$theme-deafult__desktop-separators-size: 1px !default;
$theme-deafult__desktop-separators-color: darken($theme-default, 5%) !default;
// Sub menu indicators
$theme-deafult__desktop-arrow-size: 5px !default; // border-width
$theme-deafult__desktop-arrow-color: $theme-default-light !default;
// Vertical menu box
$theme-deafult__desktop-vertical-box-shadow: 0 1px 4px $theme-deafult__box-shadow !default;
// Vertical items
$theme-deafult__desktop-vertical-item-padding-vertical: 9px !default;
$theme-deafult__desktop-vertical-item-padding-horizontal: 23px !default;
// ----------------------------------------------------------
// :: 1.8. Desktop sub menus
// ----------------------------------------------------------
// Menu box
$theme-deafult__desktop-sub-bg: $theme-deafult__white !default;
$theme-deafult__desktop-sub-border-color: $theme-deafult__gray !default;
$theme-deafult__desktop-sub-border-radius: $theme-deafult__border-radius-small !default;
$theme-deafult__desktop-sub-box-shadow: 0 5px 12px $theme-deafult__box-shadow !default;
$theme-deafult__desktop-sub-padding-vertical: 10px !default;
$theme-deafult__desktop-sub-padding-horizontal: 0 !default;
// Items
$theme-deafult__desktop-sub-item-color: $theme-default-dark !default;
$theme-deafult__desktop-sub-item-bg: transparent !default;
$theme-deafult__desktop-sub-item-hover-color: $theme-deafult__white !default;
$theme-deafult__desktop-sub-item-hover-bg: $theme-default !default;
$theme-deafult__desktop-sub-item-current-color: $theme-deafult__white !default;
$theme-deafult__desktop-sub-item-current-bg: $theme-default-darker !default;
$theme-deafult__desktop-sub-item-disabled-color: darken($theme-deafult__white, 30%) !default;
$theme-deafult__desktop-sub-item-padding-vertical: 9px !default;
$theme-deafult__desktop-sub-item-padding-horizontal: 23px !default;
// ----------------------------------------------------------
// :: 2.1. Collapsible mode (mobile first)
// ----------------------------------------------------------
// calc item height and sub menus toggle button size
$theme-deafult__item-height: $theme-deafult__line-height+$theme-deafult__collapsible-item-padding-vertical * 2;
// set toggle button size to 80% of item height
$theme-deafult__toggle-size: floor($theme-deafult__item-height * 0.8);
$theme-deafult__toggle-spacing: floor($theme-deafult__item-height * 0.1);
.sidenav {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: -300px;
    background-color: $white;
    transition: all 0.5s ease;
    .sidebar-back {
        padding: 20px;
        font-size: 18px;
        color: $theme-color;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid $round-border;
        margin-bottom: 20px;
        cursor: pointer;
    }
    nav {
        background-color: $white;
        z-index: 9;
        position: relative;
        height: 100vh;
        top: 0;
    }
    &.open-side {
        left: 0;
        transition: all 0.5s ease;
        .sidebar-overlay {
            opacity: 0.8;
            visibility: visible;
        }
    }
    // &.open-side {
    //     left: 0;
    //     transition: all 0.5s ease;
    //     .sidebar-overlay {
    //         opacity: 0.8;
    //         visibility: visible;
    //     }
    // }
    .sidebar-overlay {
        visibility: hidden;
        opacity: 0;
        background-color: #212331;
        position: fixed;
        z-index: 6;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    .closebtn {
        position: absolute;
        top: 0;
        font-size: 36px;
        margin-left: 50px;
        margin-top: 50px;
        color: $grey;
    }
    .pixelstrap {
        li {
            a {
                &.menu-title {
                    // padding: 10px 50px 20px 40px;
                }
            }
            ul {
                li {
                    a {
                        // padding: 5px 35px;
                        &:active,
                        &:focus,
                        &.highlighted {
                            // padding: 5px 35px;
                        }
                    }
                }
            }
        }
    }
}

// Main menu box
.pixelstrap {
    a {
        &,
        &:hover,
        &:focus,
        &:active {
            padding: $theme-deafult__collapsible-item-padding-vertical $theme-deafult__collapsible-item-padding-horizontal;
            padding-right: $theme-deafult__collapsible-item-padding-horizontal + $theme-deafult__toggle-size + $theme-deafult__toggle-spacing;
            color: $dark;
            font-size: 15px;
            font-weight: bold;
            line-height: $theme-deafult__line-height;
            text-decoration: none;
        }
        &.disabled {
            color: $theme-deafult__collapsible-item-disabled-color;
        }
        .sub-arrow {
            position: absolute;
            top: 45%;
            margin-top: -(ceil($theme-deafult__toggle-size / 2));
            left: auto;
            right: $theme-deafult__toggle-spacing;
            width: $theme-deafult__toggle-size;
            height: $theme-deafult__toggle-size;
            overflow: hidden;
            font: bold #{$theme-deafult__font-size-small}/#{$theme-deafult__toggle-size} monospace !important;
            text-align: center;
            text-shadow: none;
            background: transparent;
            border-radius: $theme-deafult__border-radius-small;
        }
        .sub-arrow::before {
            content: '+';
        }
        &.highlighted .sub-arrow::before {
            content: '-';
        }
    }
    @include round_corner($theme-deafult__collapsible-border-radius);
    // Sub menus box
    ul {
        background: $theme-deafult__collapsible-sub-bg;
        ul {
            background: rgba(darken($theme-deafult__collapsible-sub-bg, 60%), 0.1);
        }
        a {
            &,
            &:hover,
            &:focus,
            &:active {
                background: $theme-deafult__collapsible-sub-item-bg;
                color: $title-color;
                font-size: $theme-deafult__font-size-small;
                text-shadow: none;
                font-weight: 500;
                // add indentation for sub menus text
                // border-left: $theme-deafult__collapsible-sub-item-indentation solid transparent;
            }
            &.current {
                background: $theme-deafult__collapsible-sub-item-current-bg;
                color: $theme-deafult__collapsible-sub-item-current-color;
            }
            &.disabled {
                color: $theme-deafult__collapsible-sub-item-disabled-color;
            }
        }
        // Add indentation for sub menus text for deeper levels
        @include sub_items($theme-deafult__collapsible-sub-item-indentation);
        // Sub menus items separators
        li {
            border-top: 1px solid $theme-deafult__collapsible-sub-separators-color;
            &:first-child {
                border-top: 0;
            }
        }
    }
}

// ----------------------------------------------------------
// :: 2.2. Desktop mode
// ----------------------------------------------------------
@media (min-width: $theme-deafult__desktop-vp) {
    /* Switch to desktop layout  */
    .pixelstrap ul {
        position: absolute;
        width: 12em;
    }
    .pixelstrap li {
        float: left;
    }
    .pixelstrap.sm-rtl li {
        float: right;
    }
    .pixelstrap ul li,
    .pixelstrap.sm-rtl ul li,
    .pixelstrap.sm-vertical li {
        float: none;
    }
    .pixelstrap a {
        white-space: nowrap;
    }
    .pixelstrap ul a,
    .pixelstrap.sm-vertical a {
        white-space: normal;
    }
    .pixelstrap .sm-nowrap>li>a,
    .pixelstrap .sm-nowrap>li> :not(ul) a {
        white-space: nowrap;
    }
    /* ...end */
    // Main menu box
    .pixelstrap {
        a {
            .sub-arrow {
                top: auto;
                margin-top: 0;
                bottom: 2px;
                left: 50%;
                margin-left: -$theme-deafult__desktop-arrow-size;
                right: auto;
                width: 0;
                height: 0;
                border-width: $theme-deafult__desktop-arrow-size;
                border-style: solid dashed dashed dashed;
                border-color: $theme-color transparent transparent transparent;
                background: transparent;
            }
            .sub-arrow::before {
                display: none;
            }
        }
        ul {
            // border: $theme-deafult__border-width solid $theme-deafult__desktop-sub-border-color;
            padding: $theme-deafult__desktop-sub-padding-vertical $theme-deafult__desktop-sub-padding-horizontal;
            background: $theme-deafult__desktop-sub-bg;
            // border-radius: 0 0 $theme-deafult__desktop-sub-border-radius $theme-deafult__desktop-sub-border-radius !important;
            box-shadow: $theme-deafult__desktop-sub-box-shadow;
            ul {
                border-radius: $theme-deafult__desktop-sub-border-radius;
                background: $theme-deafult__desktop-sub-bg;
            }
            a {
                &,
                &:hover,
                &:focus,
                &:active,
                &.highlighted {
                    border: 0 !important;
                    padding: $theme-deafult__desktop-sub-item-padding-vertical $theme-deafult__desktop-sub-item-padding-horizontal;
                    background: $theme-deafult__desktop-sub-item-bg;
                    color: $theme-color;
                    border-radius: 0 !important;
                }
                &:hover,
                &:focus,
                &:active,
                &.highlighted {
                    color: $theme-orage !important;
                }
                &.current {
                    background: $theme-deafult__desktop-sub-item-current-bg;
                    color: $theme-deafult__desktop-sub-item-current-color;
                }
                &.disabled {
                    background: $theme-deafult__desktop-sub-bg;
                    color: $theme-deafult__desktop-sub-item-disabled-color;
                }
                .sub-arrow {
                    top: 50%;
                    margin-top: -$theme-deafult__desktop-arrow-size;
                    bottom: auto;
                    left: auto;
                    margin-left: 0;
                    right: 10px;
                    border-style: dashed dashed dashed solid;
                    border-color: transparent transparent transparent #444444;
                }
            }
            li {
                border: 0;
            }
        }
        .scroll-up,
        .scroll-down {
            position: absolute;
            display: none;
            visibility: hidden;
            overflow: hidden;
            background: $theme-deafult__desktop-sub-bg;
            height: 20px;
        }
        .scroll-up-arrow,
        .scroll-down-arrow {
            position: absolute;
            top: -2px;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            overflow: hidden;
            border-width: 8px; // tweak size of the arrow
            border-style: dashed dashed solid dashed;
            border-color: transparent transparent $theme-deafult__desktop-sub-item-color transparent;
        }
        .scroll-down-arrow {
            top: 6px;
            border-style: solid dashed dashed dashed;
            border-color: $theme-deafult__desktop-sub-item-color transparent transparent transparent;
        }
        // Main menu box
        &.sm-rtl {
            &.sm-vertical {
                a {
                    .sub-arrow {
                        right: auto;
                        left: 10px;
                        border-style: dashed solid dashed dashed;
                        border-color: transparent $theme-deafult__desktop-arrow-color transparent transparent;
                    }
                }
            }
            >li {
                &:first-child {
                    border-left: $theme-deafult__desktop-separators-size solid $theme-deafult__desktop-separators-color;
                }
                &:last-child {
                    border-left: 0;
                }
            }
            ul {
                a {
                    .sub-arrow {
                        right: auto;
                        left: 10px;
                        border-style: dashed solid dashed dashed;
                        border-color: transparent $theme-deafult__desktop-arrow-color transparent transparent;
                    }
                }
            }
        }
        // Main menu box
        &.sm-vertical {
            a {
                padding: $theme-deafult__desktop-vertical-item-padding-vertical $theme-deafult__desktop-vertical-item-padding-horizontal;
                .sub-arrow {
                    top: 50%;
                    margin-top: -$theme-deafult__desktop-arrow-size;
                    bottom: auto;
                    left: auto;
                    margin-left: 0;
                    right: 10px;
                    border-style: dashed dashed dashed solid;
                    border-color: transparent transparent transparent $theme-color;
                }
            }
            >li {
                border-left: 0 !important;
            }
        }
    }
    .mega-menu {
        min-width: 40em !important;
    }
    .mega-page-width {
        min-width: 70em !important;
    }
    .home-menu{
        min-width: 30em !important;
    }
    .product-menu {
        min-width: 50em !important;
    }
}

.sub-drop-menu {
    min-width: 15em !important;
    max-width: unset !important;
    top: 34px !important;
    margin-top: 15px !important;
}
#mySidebarnav {
    .sub-drop-menu {
        margin-top: 0px !important;
    }
    .home-header {
        .sub-drop-menu {
            li {
                a{
                    margin-left: 20px;
                }
            }
        }
        .space-top{
            > div{
                margin-left: 15px;
            }
        }
    }
}
@media (min-width: 1201px) {

    .home-2 {
        .mega-page-width {
            // transform: translateX(-36%);
        }
        
    }
    .lg-left-0 {
        .home-2{
            .mega-page-width {
                // transform: translateX(-36%);
            }
        }
    }
    .sub-mega-menu-fix{
        .main-menu-hover{
            position:unset;
        }
        ul{
            // &.mega-menu{
            //     transform: unset;
            //     // position: fixed;
            //     top: auto !important;
            //     margin: 19px auto !important;
            //     right: 0;
            //     left: 0 !important;
            // }
             &.mega-menu{
                // transform: unset;
                // position: fixed;
                top: auto !important;
                margin: 19px auto !important;
                right: 0;
                left: 0 !important;
                transform: translateX(-24%);
                min-width: 1107px !important;
            }
        }
    }
    .pixelstrap {
        ul{
            ul{
              border-radius:0;  
            }
        }
    }
}
.home-header {
    box-shadow: none;
    top: 0px; // fashion
    li {
        .has-submenu , > a {
            color: $header-theme-text-color;
        }
    }
    .mega-menu , .sub-drop-menu {
        border: none;
        border-radius: unset !important;
        li {
            a {
                font-size: 14px;
                padding: 10px !important;
                font-weight: 400;
                text-transform: capitalize;
                color: #444;
                margin-left: 5px;
            }
        }
        &.with-img-hover {
            a {
                &:hover {
                    h6 {
                        color: $theme-orage;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
    h6 {
        font-size: 14px;
        padding: 8px 0 !important;
        color: $title-color;
        transition: all 0.5s ease;
        text-transform: capitalize;
        margin-bottom: 0;
    }
    .page-width {
        min-width: 20em !important;
    }
}

.home-1 {
    .mega-menu {
        top: 41px !important;
    }
    a {
        .sub-arrow {
            border-color: $black transparent transparent transparent;
            left: 90%;
            bottom: 0;
        }
    }
    li {
        .has-submenu {
            font-size: 15px;
            font-family: $font_1;
            color: $title-color;
            font-weight: bold;
            padding: 0 18px;
            text-transform: uppercase;
            line-height: 1;
        }
    }
    .mega-page-width {
        min-width: 79em !important;
        transform: translateX(-14.5%);
    }
}
.home-2 {
    .mega-menu {
        top: 35px !important;
    }
    .mega-page-width {
        min-width: 46.2vw !important;
        left: 0 !important;
        right: 0;
    }
}
.home-2 {
    box-shadow: none;
    a {
        .sub-arrow {
            border-color: $header-theme-text-color transparent transparent transparent;
            left: 90%;
            bottom: 0;
        }
    }
    li {
        .has-submenu {
            // color: $theme-color;
            color: $header-theme-text-color;
            padding: 0 18px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 1;
        }
    }
}
@media (max-width: 1199px) {
    .bg-hdr-menu-clr{
        &>.drop-dwn-menu , &>.main-menu-hover{
            & > a{
                color:$theme-color;
            }
        }
    }
    .home-header{
        .mega-menu{
            > li{
                &:last-child{
                    a{
                        padding-bottom: 0 !important;
                    }
                }  
            }
        }
    }
}    
@media (min-width: 1200px) {
    .home-2 {
        a {
            .sub-arrow {
                border-color: $header-theme-text-color transparent transparent transparent;
            }
        }
        li {
            .has-submenu {
                color: $header-theme-text-color;
                
            }
        }
    }
    .category-dropdown{
        .pixelstrap {
            li{
                &:hover{
                    a{
                        .sub-arrow {
                            
                        }
                    }
                }
            }
            a {
                .sub-arrow {
                    top: 10px;
                    width: 10px;
                    height: 22px;
                    border-style: unset !important;
                    border-color: unset !important;
                    &:after {
                        content: "\f105";
                        color:#444;
                        font-family: $font-awesome !important;
                        position: absolute;
                        right: 0
                    }
                }
            }
        }
    }
    .drop-dwn-menu{
        ul{
            padding: 10px 15px;
        }
    }
    .pixelstrap{
        li{
            ul{
                border-radius: unset !important;
                li{
                    & > ul{
                        left: 17px !important;
                    }  
                }
                
            }
        }
    }
}
.full-mega-menu {
    padding: 18px 10px !important;
    border-radius: 0;
    .mega-box {
        .menu-title {
            h5 {
                font-weight: 500;
                text-transform: capitalize;
                font-size: 15px;
                margin: 0;
                padding: 0;
                color: $title-color;
            }
        }
        .link-section {
            ul {
                position: relative;
                display: block;
                padding: 0;
                box-shadow: none !important;
                border: none;
                li {
                    a {
                        font-size: 14px;
                        padding: 5px 0 !important;
                        font-weight: 400;
                        margin-left: 0;
                        text-transform: capitalize;
                        &:hover,
                        &:focus {
                            padding-top: 3px;
                            padding-bottom: 3px;
                        }
                    }
                }
            }
        }
    }
    .img-section {
        img {
            margin-top: 15px;
        }
    }
}
a{
    &.mega-menu-banner {
        margin: 0 auto !important;
        padding: 0px 0 !important;
    }
}

.space-top {
    &>div {
        &:last-child {
            margin-bottom: 0;
            h6 {
                padding-bottom: 0 !important;
                margin-bottom: 0;
            }
        }
    }
}

.lst-spce {
    >div {
        &:nth-last-child(-n + 7) {
            margin-top: 15px;
        }
    }
}

.main-menu-hover , .drop-dwn-menu{
    &:hover {
        .menu-title , > a{
            color: $theme-orage !important;
            //> span {
            //    border-color: transparent transparent transparent $theme-orage;
            //}
        }
    }
}

.submenu-header-show {
    position: relative !important;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    border: unset !important;
    box-shadow: unset !important;
}
.hs-three{
    .mega-page-width {
        transform: translateX(-36%);
    }
}
@media (max-width: 1200px) {

    .home-2 .mega-page-width {
        min-width: 80em !important;
        left: -30px !important;
        right: 0;
    }
}

@media (min-width: 1366px) {
    // .mega-page-width {
    //     min-width: 70em !important;
    // }
}
@media (min-width: 1200px) and (max-width: 1366px) {
    .home-2 {
        .mega-page-width{
            min-width: 60em !important;
        }
    }
}
