
//fonts
$font_0: 'Open Sans', sans-serif;
$font_1: 'Heebo', sans-serif;
$font_2: 'PT Sans', sans-serif;
$font_3: 'Arizonia', cursive;
$font_4: 'Raleway', sans-serif;
$font_6: 'Cabin', sans-serif;
$font_5: 'Poppins', sans-serif;

//Icon list
$font-themify: themify;
$font-awesome: FontAwesome;

//Color settings
$white: #ffffff;
$theme-header-color:#fff;
$dark-theme-header-icon:#fff;
$round-border: #dddddd;
$light-grey: #eee;
$border-color: #ddd;
$plceholder-color: #ddd;
$add-banner-bg-color: #f5e9e9;
$copyright-area-bg: #eeeeee;
$footer-bg-color:#fff;
$top-header: #f8f8f8;
$pro-size-active-color: #f8f8f8;
$breadcrumb-bg-color: #f7f7f7;
$error-color: #ccc;
$del-color: #aaaaaa;
$header-font: #999999;
$grey-light: #a1a1a1;
$grey-link: #948e8c;
$grey-shade: #7f786d;
$grey: #777777;
$title-color: #444444;
$slider-text-title: #444;
$footer-title-color: #444;
$slider-title-three:#444;
$font-color:#333333;
$dark-font: #222222;
$grey-dark: #2d2a25;
$black: #000000;
$theme-footer-text-color: #74809b;
$top-header-textcolor: #81b9ed;
$slider-title-color: #192e5b;
$theme-color: #192e5b;
$theme-divider-color:#2c3f69;
$theme-primary-color: #1e65a7;
$btn-theme: #1e65a7;
$slider-text: #1e65a7;
$slider-text-two: #1e65a7;
$star-yellow: #ffc600;
$theme-orage: #f1a104;
$mega-menu-font-size: 16px;
$color_sunset_orange_approx: #ff4c3b;

$header-theme-text-color: #444;
$header-icon-color: #444;
$theme-header-menu-color:#444;

$header-tree-box-bg-color: #2a2d35;
$header-tree-box-icon-color: #fff;
$sm-header-tree-box-bg-color: #fff;
$sm-header-tree-box-icon-color: #444;

$bg-header-three: #1d212a;


$box-icon-color: #f2f2f2;
$box-icon-color-active: #444;

//colors picker
$orange: #ff9400;
$brilliant-rose: #ff5ea5;
$charcoal : #444;
$amaranth: #f02e4e;
$fallow: #C89965;
$golden-brown: #C89965;
$maya-blue: #51B4FF;
$orange-peel: #f1a104;
$lima: #7aba1e;
$bg-black: #000;
$brink-pink: #f06680;
$redorange: #ff321e;
$wewak: #FF96A3;
$spice-bg: #FF4C3B;
$light-tomato: #FF4C3B;
$tomato: #de4149;
$safety-orange: #ff5c00;
$prussianblue: #003764;
$color_concrete_approx: #FF96A3;
$success-icon-color:#4ead4e;

$header-bg-light-menu:#f9f9f9;
/*-------------------
Dark Layout theme
---------------------*/
$dark-body: #1D1D1D;
$breadcrumb-bg: #444;
$dark-color: #777;
$img-over-color: rgb(109, 109, 109);
$service-top-bootm-border: #777777;
$service-top-bootm-border: #777;
$text-color :#e5e5e5;
$dark-peragraph: #dcdcdc;

