html {
  scroll-behavior: smooth; }

body {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px; }

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px; }

h2 {
  font-size: 36px;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1; }

h3 {
  font-size: 24px;
  font-weight: 400;
  color: #777;
  letter-spacing: 0.03em; }

h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.03em; }

h5 {
  font-size: 18px;
  color: #444;
  font-weight: 400;
  padding-bottom: 10px; }

h6 {
  font-size: 14px;
  font-weight: 400;
  color: #777; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

li {
  display: inline-block; }

p {
  font-size: 14px;
  color: #777; }

a {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }
  a:hover {
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
  a:focus {
    outline: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  line-height: 28px; }

.heading-title {
  padding-bottom: 100px; }
  .heading-title h4 {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    color: #1784ff;
    font-weight: 800;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px; }
  .heading-title span {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    text-align: center;
    position: relative; }
    .heading-title span:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 50px;
      background-color: #1784ff;
      bottom: -20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(23, 132, 255, 0.6);
              box-shadow: 0px 0px 20px 0px rgba(23, 132, 255, 0.6); }
  .heading-title.text-white h4 {
    color: #fff; }
  .heading-title.text-white span {
    color: #fff; }
    .heading-title.text-white span:after {
      background-color: #fff; }

section {
  padding-top: 80px;
  padding-bottom: 80px; }

.bg-gray {
  background: #f5f5f5; }

button:focus {
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset; }

.btn {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .btn:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.purchase-btn {
  font-size: 16px;
  color: #1d93ff;
  font-weight: bold;
  text-transform: uppercase;
  /* padding: 13px 20px; */
  background: #fff;
  width: 240px;
  height: 58px;
  border-radius: 10px;
  text-align: center;
  line-height: 42px; }
  .purchase-btn i {
    border-right: 2px solid #b3b3b3;
    padding-right: 12px;
    margin-right: 6px; }

.btn-rate {
  font-size: 20px;
  color: #1d93ff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 13px 50px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  margin-top: 40px; }

.btn-lazy {
  font-family: 'Poppins', sans-serif;
  border-radius: 21px;
  background-color: #ff2b67;
  -webkit-box-shadow: 0px 0px 70px 10px rgba(86, 86, 86, 0.54);
          box-shadow: 0px 0px 70px 10px rgba(86, 86, 86, 0.54);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 19px;
  border-radius: 20px;
  text-align: center;
  color: #fff !important; }


.center-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.form-control:focus {
  border-color: #ddd; }

.layout-img {
  background-image: url(../images/landing/slider-bg1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-box-shadow: 0px 5px 30px 10px #dedede;
          box-shadow: 0px 5px 30px 10px #dedede; }

.mssanger-right {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

/* navbar */
.landing-nav {
  padding: 25px 0;
  border-bottom: 1px solid rgba(150, 211, 255, 0.388235); }
  .landing-nav .navbar-nav a {
    color: #f7f7f7 !important;
    margin: 0 15px; }

.slider-caption {
  width: 50%;
  margin-top: 80px; }
  .slider-caption img {
    margin-bottom: 20px; }
  .slider-caption .theme-title {
    color: #fff;
    font-size: 18px; }
  .slider-caption h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    line-height: 1.4;
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 40px; }
  .slider-caption p {
    color: #cfe4ff;
    font-size: 18px; }

.space-card > div:nth-last-child(-n + 14) {
  margin-top: 70px; }

.space-shop > div:nth-last-child(-n + 3) {
  margin-top: 70px; }

.space-product > div:nth-last-child(-n + 9) {
  margin-top: 70px; }

.layout-demo .nav-pills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px; }
  .layout-demo .nav-pills .nav-item {
    margin: 0 10px; }
  .layout-demo .nav-pills .nav-link {
    border-radius: 15px;
    color: #fff;
    background-color: #1784ff;
    padding: 8px 25px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .layout-demo .nav-pills .nav-link.active {
      color: #fff;
      background-color: #ff2b67;
      -webkit-box-shadow: 0px 6px 20px #ff2b6780;
              box-shadow: 0px 6px 20px #ff2b6780;
      margin-top: -5px; }
      .layout-demo .nav-pills .nav-link.active:hover {
        -webkit-transform: translateY(0px);
                transform: translateY(0px); }
    .layout-demo .nav-pills .nav-link:hover {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }

.layout-demo .tab-content .card {
  border: unset;
  overflow: hidden;
  -webkit-box-shadow: 7.5px 12.99px 35px 0px #f7f7f7;
          box-shadow: 7.5px 12.99px 35px 0px #f7f7f7;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .layout-demo .tab-content .card img {
    -webkit-box-shadow: 0px 0px 5px 0px #e8e8e8;
            box-shadow: 0px 0px 5px 0px #e8e8e8; }
  .layout-demo .tab-content .card .card-body p {
    font-size: 18.056px;
    font-family: 'Poppins', sans-serif;
    color: #4a4a4a;
    font-weight: 500; }
  .layout-demo .tab-content .card:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 15px 40px 0px #eaeaea;
            box-shadow: 0 15px 40px 0px #eaeaea; }

/* Features css */
.bg-theme {
  background-image: url(../images/landing/features-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .bg-theme.shadow-theme {
    -webkit-box-shadow: 0px 5px 30px 10px #f9f9f9;
            box-shadow: 0px 5px 30px 10px #f9f9f9; }

.fetures-img > div:nth-last-child(-n + 7) {
  margin-top: 55px; }

.fetures-img img {
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 17.321px 250px 0px rgba(0, 0, 0, 0.0588235);
          box-shadow: 10px 17.321px 250px 0px rgba(0, 0, 0, 0.0588235); }

.fetures-img h6 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 0; }

.key-feature > div:nth-last-child(-n + 17) {
  margin-top: 70px; }

.key-feature .theme-collection .image-contain {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 26px 10px #efefef;
          box-shadow: 0px 0px 26px 10px #efefef;
  padding: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .key-feature .theme-collection .image-contain .set-image {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0 auto;
    text-align: center; }

.key-feature .theme-collection h5 {
  margin-top: 20px;
  text-align: center;
  color: #555;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1; }

.key-feature .theme-collection:hover h5 {
  color: #ff4c3b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* Features css end */
.box-email {
  background: #ffffff26;
  width: 40%;
  margin: 0 auto;
  padding: 26px;
  margin-bottom: 60px; }

.email-box {
  color: #fff;
  font-size: 29px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0;
  padding: 0 35px; }

.dark-bg-img {
  background-image: url(../images/landing/dark-bg.png); }

.eml {
  position: absolute; }
  .eml.eml-one {
    left: 160px; }
  .eml.eml-two {
    bottom: 0px;
    left: 0px; }
  .eml.eml-three {
    right: 145px;
    top: 0;
    height: 100%; }

.top-space-n {
  margin-top: -55px; }

.landing-dot .slick-prev, .landing-dot .slick-next {
  display: none !important; }

.landing-dot .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none; }
  .landing-dot .slick-dots li {
    margin: 0 0.25rem; }
  .landing-dot .slick-dots button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: rgba(45, 165, 255, 0.4);
    text-indent: -9999px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .landing-dot .slick-dots li.slick-active button {
    background-color: #1784ff;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.landing-dot .slick-slide img {
  width: 100%; }

.landing-dot .slick-active img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9); }

.landing-dot .slick-active:last-child(2) img {
  -webkit-transform: scale(1);
          transform: scale(1); }

.footer-title {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 60px; }
